*, *::after, *::before {
  box-sizing: border-box;
}


body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: white;
}

.Character {
  border: .25vmin solid black;
}

#game-board {
  z-index: -1;
  position: absolute;
  width: 100vmin;
  height: 100vmin;
  display: grid;
  background-color: rgb(55, 124, 55);
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
}

.score {
  display:block;
  font-weight: bold;
  font-size: 7vh;
  color: blue;
  opacity: .5;
  justify-content: center;
  position: relative;
  left: 550px;
}

.button {
  display:block;
  font-weight: bold;
  font-size: 2vh;
  color: blue;
  opacity: .5;
  justify-content: center;
  position: relative;
  right: 490px;
  bottom: 100px
}

.winOrLose {
  display:block;
  font-weight: bold;
  font-size: 7vh;
  color: blue;
  opacity: .5;
  justify-content: center;
  position: absolute;
  top: 10px;
  left: 870px;
}

.menu {
  position: relative;
  right: 530px;
}

p {
  position: absolute;
  right: 1560px;
  bottom: 720px;
}

h1 {
  position: absolute;
  right: 1740px;
  bottom: 850px
}